footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    background-color: var(--black);
    text-align: center;
    border-top: 1px solid var(--blue);
    gap: 1rem;
}

.logoFooter{
    height: 40px;
}

.attribution {
    color: var(--lightGray);
}

.attributionName{
    color: var(--lightBlue);
    text-decoration: none;
    text-transform: uppercase;
}

.attributionName:hover{
    color: var(--yellow);
    text-decoration: none;
    text-transform: uppercase;
}