@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --fontSourceSans: "Source Sans 3", sans-serif;
  --fontRoboto: "Roboto", sans-serif;
  --black: #000000;
  --darkGray: #262626;
  --lightGray: #A5A5A5;
  --white: #ffffff;
  --darkBlue: #03122F;
  --blue: #2271D1;
  --lightBlue: #6BD1FF;
  --green: #00C86F;
  --yellow: #FFBA05;
  --red: #E53935;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontRoboto);
}

body {
  background-color: var(--darkGray);
  color: var(--white);
}
